@charset "utf-8";

@import url("reset.css");

	/*------------------------
	---------------- CONTENT
	------------------------*/
	
	/* You might want to change these options for the main container */
	#yourSliderId {
		
		border-top:5px solid #898474;
		border-bottom:5px solid #898474;
		border-color:;
		position:absolute;
		top:100px;	
		width:960px;
		height:293px;
		z-index:9;
		
	}
	
	/* images container - This is the most important container - Don't change important properties */

		/* each slider item - Nothing to change here */
		#yourSliderId li {
			
			display: none;
			float: left;
			margin: 0;
			position: absolute;
			width: 100%;
			
		}
		
		/* Don't edit this part */
		#yourSliderId li.current {
			
			display: block;
			z-index: 2 !important;
			
		}
		
		/* Don't edit this part */
		#yourSliderId li.next {
			
			display: block;
			z-index: 1 !important;
			
		}
		
		/* Don't edit this part - prevents inline lists from being hidden */
		#yourSliderId li ul li {
			
			display: block !important;
			position: relative !important;
			
		}




#slider { position: relative; width: 100%; height: 90px; margin: 0 auto; }




		/*------------------------
		--------------- LEFT ARROW
		------------------------*/
		
		/* Sets position and main configs */
		.slider_arrow_left {
			
			bottom: 200px;
			left: -10px;
			cursor: pointer !important;
			margin: 0 auto;
			height: 84px;
			position: absolute;
			width: 37px;
			z-index: 50 !important;
			
		}
		
		/* left arrow image */
		.slider_arrow_left {
			
			background: url(../images/left_arrow.png) no-repeat top left;
			
		}


		/*------------------------
		-------------- RIGHT ARROW
		------------------------*/
		
		/* Sets position and main configs */
		.slider_arrow_right {
			
			bottom: 200px;
			cursor: pointer;
			margin: 0 auto;
			height: 84px;
			left: 912px;
			position: absolute;
			width: 37px;
			z-index: 50;
			
		}
		
		/* Right arrow Background */
		.slider_arrow_right {
			
			background: url(../images/right_arrow.png) no-repeat top left;
			
		}




	/*------------------------
	---------------- SELECTORS
	------------------------*/
	
	/* Sets configs for selectors containers : absolute positioned in relation to #slider */

	
	/* Disables the selectors */
	.slider_selector_dis li {
		
		cursor: default !important;
		z-index: 0;
		
	}
	
	#container {  float: left; width: 100%; position: relative;  }